<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h4>Hi {{name}} </h4><a href="/dashboard/">Back</a> <a href="/logout/">logout</a>
<br><br><br>
<center>
    <h4>Add Your Bill</h4>
    <form method="post" action="/expense/">
        <label>Title</label>
        <input type="text" name="title">
        <label>Description</label>
        <input type="text" name="description">
        <label>Amount</label>
        <input type="number" name="amount">
        <button type="submit" name="submit">Submit</button>
    </form>
    <br><br><br>
    Personal Expenses Table
    <table border="1">
        <tr>
            <th>Bill Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
        {% for e in exp %}
        <tr>
            <td>{{ e.bill_id }}</td>
            <td>{{ e.title }}</td>
            <td>{{ e.description }}</td>
            <td>{{ e.amount }}</td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>