<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center><br><br><br><br>
Don't have an account? <a href="/register/">register</a><br><br>
    <form method="post" action="/login/">
    <label>Username</label>
    <input type="text" name="username" placeholder="Email"><br><br>
        <label>Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" name="login">
    </form>
</center>
</body>
</html>