<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if enter == 'success' %}
<script>alert('user registered')</script>
{% endif %}

<center><br><br><br>
    {% if error == 'incorrect' %}
<h4>Incorrect username/password</h4>
{% endif %}
<br>
Don't have an account? <a href="/register/">register</a><br><br>
    <form method="post" action="/dashboard/">
        {% csrf_token %}
    <label>Username</label>
    <input type="text" name="username" placeholder="Email"><br><br>
        <label>Password</label>
        <input type="password" name="password"><br><br>
        <input type="submit" name="login">
    </form>
</center>
</body>
</html>