<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% if enter == 'error' %}
<script>alert("Password Doesn't Match")</script>
{% endif %}
<center><br><br>
    Already have a account <a href="/login/">login</a><br><br>
    <form method="post" action="register">
        {% csrf_token %}
        <label>First Name</label>
        <input type="text" name="fname"><br><br>
        <label>Last Name</label>
        <input type="text" name="lname"><br><br>
        <label>Email</label>
        <input type="email" name="email"><br><br>
        <label>Contact</label>
        <input type="text" name="contact"><br><br>
        <label>Password</label>
        <input type="password" name="password"><br><br>
        <label>Confirm Password</label>
        <input type="password" name="cpassword"><br><br>
        <input type="submit" name="register" value="Submit">
    </form>
</center>
</body>
</html>